@charset "utf-8";
nav{
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Bitter', serif;
}
header{
    width: 100%;
    height: 100px;
}
header, footer{
    padding: 0.5rem;
}
header img{
    width: 30rem;
    display: inline-block;
}
header ul{
    display: flex;
    list-style: none;
    padding: 0px;
    background-color: rgba(223, 177, 220, 0.466);
}
header ul li{
    width: 20%;
    text-align: center;
}
header ul li a{
    text-decoration: none;
}
header ul li + li{
    border-left: 2px solid #00552e;
}