@charset "utf-8";
main{
    width: 800px;
    margin: 0 10px;
}
.image{
    width: 500px;
    margin: 0 10px;
}
.contents{
    display: flex;
    width: 960px;
    margin: 0 auto;
}
.rabender_img{
    margin-top: 60px;
}
.rabender{
    margin-bottom: 40px;
}
.ajisai_img{
    margin-top: 40px;
}
.ajisai{
    margin-bottom: 40px;
}
body{
    background: linear-gradient(rgb(82, 195, 255),rgb(128, 255, 116));
}
.suiren_img{
    margin-top: 40px;
}