@charset "utf-8";
.text-pink{
    color: #FFC0CB;
}
.text-blue{
    color: aqua;
}
.text-green{
    color: rgb(159, 255, 210);
}
.bg-yellow{
    background-color: beige;
}
span{
    border: 2px dotted pink;
}
div{
    background-color: #e9ffff;
}