@charset "utf-8";
.background{
    background-image: url(img/210803system-description.webp\ システム.webp);
    background-position: center;
    height: 300px;
}
.logo{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
}
header{
    width: 100%;
    height: 100px;
}
header, footer{
    background-color: rgba(53, 134, 255, 0.466);
    padding: 0.5rem;
}
header img{
    width: 30rem;
    display: inline-block;
}
header ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
header ul li{
    width: 20%;
    text-align: center;
}
header ul li a{
    text-decoration: none;
}
header ul li + li{
    border-left: 2px solid #00552e;
}
.breadcrumbs{
    list-style: none;
    display: flex;
}
.breadcrumbs li::after{
    content: ">";
    padding: 0 0.5rem;
}
.breadcrumbs li:last-child::after{
    content: "";
}
.breadcrumbs li a:link{
    color: #55AA83;
}
.breadcrumbs li a:visited{
    color: #00552e;
}
.logo-header img{
    width: 100px;
    height: 100px;
}